.right-header{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin-top: 15px;
}
.search{
    margin-left: 15px;
}
.login{
    margin-left: 15px;
}
.cart{
    margin-left:15px;
}
#search-button{
    border: none;
    background: none;
}
#search-icon{
    height: 15px;
    margin-right: 5px;
}
.search-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
    margin-left: 15px;
    margin-top: 15px;
}
.search-result{
    margin-left: 15px;
    margin-top: 30px;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}
.delete-btn{
    font-size: 15px;
    visibility: hidden;
    border: none;
    background: none;
}