body {
    font-family: sf pro;
}
.button{
    position: relative;
    left: 5%;
    top: 40px;
    margin-bottom: 70px;
}
.button-content{
    font-size: 42px;
    text-decoration: none;
    color: rgba(250, 218, 94);
}
.button-content:hover {
	color: rgba(30,144,255);
}
.main{
    display: flex;
    justify-content: center;
}
.hero{
    position: relative;
    top: 00px;
    display: flex;
}
.my-photo{
    width: 300px;
    margin-left: 100px;
    margin-right: 50px;
}
.title{
    font-family: sf pro;
    font-size: 36px;
    font-weight: 1000;
}
.floating-menu {
    font-family: sans-serif;
    background: rgba(250, 218, 94,.5);
    padding: 5px;
    z-index: 100;
    position: fixed;
    bottom: 40px;
    left: 40%;
    display: flex;
}
.floating-menu a{
    font-size: 0.9em;
    display: block;
    margin: 10px;
    color: black;
    font-family: sf pro;
    font-weight: 700;
}