body {
    font-family: sf pro;
}
.button{
    position: relative;
    left: 5%;
    top: 40px;
    margin-bottom: 70px;
}
.button-content{
    font-size: 42px;
    text-decoration: none;
    color: rgba(250, 218, 94);
}
.button-content:hover {
	color: rgba(30,144,255);
}

.main{
    display: flex;
    justify-content:center;
}
.title{
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 1200;
}
.details{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}
.list-title{
    font-size: 20px;
    font-weight: 500;
}
.list-content{
    font-size: 16px;
    font-weight: 500;
}

.floating-menu {
    font-family: sans-serif;
    background: rgba(250, 218, 94,.5);
    padding: 5px;
    z-index: 100;
    position: fixed;
    bottom: 40px;
    left: 40%;
    display: flex;
}
.floating-menu a{
    font-size: 0.9em;
    display: block;
    margin: 10px;
    color: black;
    font-family: sf pro;
    font-weight: 700;
}