body {
    font-family: sf pro;
    overflow-x: hidden;
}
.button{
    position: relative;
    left: 5%;
    top: 40px;
    margin-bottom: 70px;
}
.button-content{
    font-size: 42px;
    text-decoration: none;
    color: rgba(250, 218, 94);
}
.button-content:hover {
	color: rgba(30,144,255);
}

.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.title-area{
    width: 600px;
}
.keyword{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tag {
    padding: 6px 12px;
    border: 1.5px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
    margin-right: 8px;
}
.title{
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 900;
}
.details{
    display: flex;
    align-items:flex-start;
}
.list{
    width: 200px;
}
.list-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.list-content{
    font-size: 15px;
    font-weight: 300;
}
#list-content-rows{
    margin-bottom: 6px;
}
.summary{
    margin-top: 32px;
}
.summary-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}
.summary-content{
    font-size: 25px;
    font-weight: 300;
    line-height: 140%;
}
.shortcuts{
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-wrapper{
    width: 600px;
    margin-left: -590px;
}
.group{
    display: flex;
}
.circle{
    border-radius: 50px;
    background-color: black;
    width: 28px;
    height: 28px;
    margin-right: 90px;
}
.circle-text{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.shortcuts-line{
    width: 590px;
    height: 1.5px;
    background-color: black;
    margin-top: -34px;
    margin-left: -5px;
}
.circle:hover{
    background-color: #696969;
}


.main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-bottom: 80px;
}
.section-header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.subsection{
    width: 600px;
}
.subsection-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 28px;
}
.subsection-content{
    font-size: 15px;
    font-weight: 300;
    line-height: 160%;
}
.subsection-divider{
    display:flex;
    justify-content: center;
}
.subsection-divider-title{
    font-size: 18px;
    font-weight: 600;
}
.problemstatement{
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 24px;
}
#solution-overview{
    background-color: #E7EBF8;
}
#solution-overview-wrapper{
    width: 800px;
    margin-right: 0;
    margin-left: 0;
}
#solution-overview-title{
    margin-top: 60px;
}
#solution-overview-content{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.solution-explanation{
    margin-left: 80px;
}
.calendar-explanation{
    margin-right: 80px;
}
.notifications-explanation{
    margin-right: 60px;
}
.problemimg{
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.surveyimg{
    width: 200px;
}
.surveyimg2{
    width: 500px;
}
.subsection-surveyimg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 36px;
}
.surveyimg-wrapper{
    display: flex;
    justify-content:space-between;
    width: 480px;
}
/*#persona{
    background-color: #E7EBF8;
}
#persona-title{
    margin-top: 60px;
}*/
.personaimg{
    width: 600px;
}
.storyboardimg{
    width: 600px;
}
.architectureimg{
    width: 600px;
}
#iterations-wrapper{
    width: 800px;
}
#iterations{
    margin-bottom: 20px;
}
.section-divider{
    display: flex;
    justify-content: center;
}
.line{
    width: 200px;
    height: 1.5px;
    background-color: #e5e5e5;
    margin-bottom: 80px;
    margin-top: 36px;
}
.quote{
    background-color: #F8F8F8;
    border-radius: 0px 20px 20px 20px; 
    font-size: 12px;
    font-weight: 300;
    padding: 16px;
    margin-bottom: 36px;
    margin-top: 12px;
}
.quote2{
    background-color: #F8F8F8;
    border-radius: 20px 0px 20px 20px; 
    font-size: 12px;
    font-weight: 300;
    padding: 16px;
    margin-bottom: 36px;
    margin-top: 12px;
}
#solution{
    background-color: #E7EBF8;
}
#solution-wrapper{
    width: 800px;
    margin-right: 0;
    margin-left: 0;
}
#solution-title{
    margin-top: 60px;
}
.solutionimg{
    margin-top: 30px;
    margin-bottom: 60px;
}
.testimg{
    width: 400px;
    margin-top: 12px;
}
.testimg-wrapper{
    display: flex;
    justify-content: center;
}
.testimg-group{
    width: 400px;
}
.main-content{
    margin-bottom: 120px;
}


.button-area{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 100px;
}
.button-wrapper{
    width: 600px;
}
a{
    text-decoration: none;
}
button {
    border: 1px solid black;
    padding: 12px 24px;
/*    border-radius: 50px;*/
    font-size: 12px;
    font-weight: 600;
    color: black;
    background-color: white;
    margin-top: 20px;
}
button:hover{
    background-color: #F3F3F3;
}
#viewprototype{
    margin-left: 20px;
}
#viewposter{
    margin-left: 20px;
}
.gif{
    border-radius: 36px;
    width: 280px;
}


.floating-menu {
    font-family: sans-serif;
    background: rgba(250, 218, 94,.5);
    padding: 5px;
    z-index: 100;
    position: fixed;
    bottom: 40px;
    left: 40%;
    display: flex;
}
.floating-menu a{
    font-size: 0.9em;
    display: block;
    margin: 10px;
    color: black;
    font-family: sf pro;
    font-weight: 700;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  height: 570px;
  position: relative;
  margin: auto;
}
.persona-container {
    max-width: 600px;
    position: relative;
    margin: auto;
  }

/* Hide the images by default */
.mySlides {
  display: none;
}
.iteration-wrapper{
    display: flex;
    justify-content: center;
}
.iteration-title{
    font-size: 15px;
    font-weight: 300;
    line-height: 160%;
}
#iteration-title-row1{
    margin-bottom: 8px;
}
.iteration-content{
    font-size: 15px;
    font-weight: 300;
    line-height: 160%;
}
.iteration-image-wrapper1{
    display:flex;
    justify-content: center;
    margin-top: 42px;
}
.iteration-image-wrapper2{
    display:flex;
    justify-content: center;
    margin-top: 18px;
}
.iteration-image-wrapper3{
    display:flex;
    justify-content: center;
    margin-top: 60px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: -32px;
  margin-right: -32px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.pprev, .pnext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 80px;
}
.pdot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}